# PYTHON

Python merupakan bahasa pemrograman yang dibangun oleh Guido Van Rossum dan dirilis pada tahun 1991.

Apa yang bisa Python lakukan :
1. Python bisa digunakan sebagai server untuk membangun aplikasi web
2. Python dapat terkoneksi ke database dan melakukan read and modify files
3. Python dapat menghandle data besar dan perhitungan matematika kompleks
4. Python dapat digunakan sebagai rapid prototyping

Kenapa Python :
1. Python dapat bekerja pada platform yang berbeda (windows, mac, linux, raspberry, dll)
2. Python memiliki syntax yang menyerupai bahasa inggris
3. Python memiliki syntax yang memungkinkan developer untuk menulis program dengan lebih ringkas
4. Python berjalan pada sebuah system interpreter yang artinya kode tersebut dapat dieksekusi saat diberi perintah

## VARIABEL

Variabel merupakan lokasi penyimpanan dan terkait nama simbolis yang berisi beberapa kuantitas / nilai yang diketahui dan tidak diketahui.

Aturan variabel pada python :
- Sebuah variable harus dimulai dengan huruf atau karakter underscore
- Sebuah variable tidak bisa dimulai dengan angka
- Sebuah variable hanya dapat berisi alpha-numeric dan underscore (A-z, 0-9 dan _ )
- Penamaan sebuah variable bersifat case sensitive (artinya : Umur, umur dan UMUR merupakan variable yang berbeda)

In [1]:
umur = 20
Umur = 30
UMUR = 40
umur, Umur, UMUR

(20, 30, 40)

## STRINGS

Mengubah Case dalam string dengan menggunakan method :

In [2]:
txt = "bahAsA pYthon"

- Title()

Dengan method ini program akan menghasilkan output berupa huruf capital pada setiap awak kata

In [3]:
txt.title()

'Bahasa Python'

- Upper()

Dengan method ini program akan menghasilkan output berupa huruf capital atau uppercase pada semua huruf yang muncul

In [4]:
txt.upper()

'BAHASA PYTHON'

- Lower()

Dengan method ini program akan menghasilkan output berupa huruf kecil atau lowercase pada setiap huruf yang muncul

In [5]:
txt.lower()

'bahasa python'

## Adding whitespace to Strings with Tabs or Newlines

Untuk membuat tabulasi pada python dapat menggunakan kombinasi karakter \t, sedangkan ketika kita ingin membuat baris baru kita dapat membuatnya dengan kombinasi karakter \n.

In [6]:
# with \t
print("Language : \tPython\tC\tJavaScript")
print("==================================")
# with \n
print("Language : \nPython\nC\nJavaScript")
print("==================================")
# Combine \n\t
print("Language : \n\tPython\n\tC\n\tJavaScript")

Language : 	Python	C	JavaScript
==================================
Language :
Python
C
JavaScript
==================================
Language :
	Python
	C
	JavaScript

## Stripping Whitespace

Python dapat melihat extra whitespace yang terdapat pada kanan atau kiri sebuah string. Untuk memastikan tidak adanya whitespace kita dapat menggunakan method :
rstrip()(menghapus whitespace sebelah kanan) 
lstrip() (menghapus whitespace sebelah kiri) 
strip(menghapus whitespace pada kedua sisi)

In [7]:
bahasa = " ular "

- rstrip()

In [8]:
bahasa.rstrip()

' ular'

- lstrip()

In [9]:
bahasa.lstrip()

'ular '

- strip()

In [10]:
bahasa.strip()

'ular'

## NUMBERS

Number biasanya digunakan untuk merepresentasikan sebuah nilai.

### Integers

Kita dapat menggunakan operator +, -, *, / pada pemrograman python
Ketika kita ingin menggunakan operator pangkat (eksponen) atau pengakaran kita dapat menggunakan ** atau //

In [11]:
print(10 + 5, 10 - 5, int(10/5), 10//5)
print(5 ** 2)
print(5 ** 3)
print(int(125**(1/3)))

15 5 2 2
25
125
5

### FLOATS

Python menyebut number / angka yang memiliki decimal point sebagai float. Artinya bilangan yang memiliki koma adalah float.

In [12]:
x = 2.5
y = 5.123
z = 3.0
v = 250
print(type(x),type(y),type(z),type(v))

<class 'float'> <class 'float'> <class 'float'> <class 'int'>

## MENGUBAH TIPE DATA SUATU VARIABEL

In [13]:
umur = 22
print(type(umur))
print(type(str(umur)))

<class 'int'>
<class 'str'>

In [14]:
pesan = "Selamat ulang tahun ke-" + str(umur)
print(pesan)
type(pesan)

Selamat ulang tahun ke-22

str

## LIST

List adalah kumpulan item dalam urutan tertentu, kita dapat membuat list dengan huruf alphabet, angka 0-9 atau nama-nama tertentu kedalam sebuah list.

List dalam python diindikasikan dengan bracket ([]) dan elemen dari list terpisahkan oleh koma (,)

### Mengakses Elemen List

Untuk mengakses elemen dalam sebuah list kita harus mengetahui dan menuliskan index posisi elemen dalam list tersebut. 

Index position dalam list dimulai dari 0 jadi misalkan terdapat [1,2,3,4] maka 1 terdapat dalam index 0 dan 2 adalah index 1. Namun ketika kita menginputkan index -1 maka elemen yang diambil adalah elemen urutan terakhir dalam list tersebut.

In [15]:
kendaraan = ['mobil','motor','sepeda','perahu','pesawat']

In [16]:
print(kendaraan[0])
print(kendaraan[3])

mobil
perahu

In [17]:
txt = "kendaraan yang terbang adalah " + kendaraan[4]
print(txt)

kendaraan yang terbang adalah pesawat

### Mengubah Elemen List

In [18]:
kendaraan[4] = "kapal selam"
print(kendaraan)
print(kendaraan[4])

['mobil', 'motor', 'sepeda', 'perahu', 'kapal selam']
kapal selam

### Menambah Elemen List

In [19]:
kendaraan.append("skateboard")
print(kendaraan)

['mobil', 'motor', 'sepeda', 'perahu', 'kapal selam', 'skateboard']

In [20]:
kendaraan.insert(0, "pesawat")
print(kendaraan)

['pesawat', 'mobil', 'motor', 'sepeda', 'perahu', 'kapal selam', 'skateboard']

### Menghapus Elemen List

In [21]:
print(kendaraan)
del kendaraan[1]
print(kendaraan)

['pesawat', 'mobil', 'motor', 'sepeda', 'perahu', 'kapal selam', 'skateboard']
['pesawat', 'motor', 'sepeda', 'perahu', 'kapal selam', 'skateboard']

In [22]:
kendaraan.remove("skateboard")
print(kendaraan)

['pesawat', 'motor', 'sepeda', 'perahu', 'kapal selam']

### Sorting List

Sorting permanen dengan menggunakan perintah sort(). Ini akan mensorting elemen list dari urutan alphabetic a-z.

Sorting temporarily dengan menggunakan perintah sorted(). Sama seperti sort() namun perintah ini tidak menyimpan sorting tersebut secara permanen

In [23]:
print(kendaraan)
kendaraan.sort()
print(kendaraan)

['pesawat', 'motor', 'sepeda', 'perahu', 'kapal selam']
['kapal selam', 'motor', 'perahu', 'pesawat', 'sepeda']

In [24]:
kendaraan = ['mobil','motor','sepeda','perahu','pesawat']
print(kendaraan)
print(sorted(kendaraan))
print(kendaraan)

['mobil', 'motor', 'sepeda', 'perahu', 'pesawat']
['mobil', 'motor', 'perahu', 'pesawat', 'sepeda']
['mobil', 'motor', 'sepeda', 'perahu', 'pesawat']

### Reverse List

Kita bisa melakukan sorting secara reverse / kebalikan dengan menggunakan fungsi reverse(). Namun bukan berdasarkan alphabet, tetapi berdasarkan urutan elemen dari list tersebut.

In [25]:
print(kendaraan)
kendaraan.reverse()
print(kendaraan)

['mobil', 'motor', 'sepeda', 'perahu', 'pesawat']
['pesawat', 'perahu', 'sepeda', 'motor', 'mobil']

In [26]:
kendaraan.sort()
kendaraan.reverse()
print(kendaraan)

['sepeda', 'pesawat', 'perahu', 'motor', 'mobil']

## DICTIONARY

Dengan dictionary anda dapat merepresentasikan sesuatu dan menyimpan informasi yang kamu butuhkan dari sesuatu tersebut. Contohnya kamu bisa menyisipkan nama, umur dan warna yang akan mendeskripsikan objek yang kamu amati.
Pada python dictionaries dituliskan dengan curly bracket({}), dan memiliki keys and values.

Cara mengakses item pada dictionary adalah dengan cara menginputkan key name didalam square bracket ([]). Akses item juga dapat dilakukan menggunakan method get(“key_name”).

In [27]:
teman0 = {'nama':'budi', 'umur':'25', 'kota':'jakarta'}
teman1 = {'nama':'yuda', 'umur':'22', 'kota':'depok'}
print(teman0['kota'])
print(teman1['kota'])
x = teman0['kota']
print(x)
x = teman1.get('kota')
print(x)

jakarta
depok
jakarta
depok

### Mengubah elemen dictionary

Anda dapat mengubah nilai item spesifik pada dictionaries dengan menuliskan key_name milik value yang akan anda ubah.

In [28]:
print(teman0)
print(teman1)

{'nama': 'budi', 'umur': '25', 'kota': 'jakarta'}
{'nama': 'yuda', 'umur': '22', 'kota': 'depok'}

In [29]:
teman0['kota']='Palembang'
print(teman0)

{'nama': 'budi', 'umur': '25', 'kota': 'Palembang'}

### Menambah elemen dictionary

Untuk menambah item ke dalam dictionary kita dapat melakukannya dengan membuat index baru dengan keyname dan value item tersebut.

In [30]:
teman0['status']='menikah'
print(teman0)

{'nama': 'budi', 'umur': '25', 'kota': 'Palembang', 'status': 'menikah'}

### Mengapus elemen dictionary

Ada beberapa method untuk menghapus item pada dictionaries yaitu pop(),  popitem() dan del.

Hati-hati pada pengggunaan del, karena dengan penulisan yang salah bisa jadi kita menghapus dictionaries tersebut bukan hanya menghapus itemnya.

Namun jika kita ingin menghapus seluruh item pada dictionary tanpa menghapus dictionary tersebut kita dapat melakukan method clear().

In [31]:
print(teman0)
print(teman1)

{'nama': 'budi', 'umur': '25', 'kota': 'Palembang', 'status': 'menikah'}
{'nama': 'yuda', 'umur': '22', 'kota': 'depok'}

In [32]:
teman0.pop('umur')
print(teman0)

{'nama': 'budi', 'kota': 'Palembang', 'status': 'menikah'}

In [33]:
teman0.popitem()
print(teman0)

{'nama': 'budi', 'kota': 'Palembang'}

In [34]:
del teman0['nama']
print(teman0)

{'kota': 'Palembang'}

In [35]:
teman1.clear()
print(teman1)

{}

In [36]:
print(teman0)
del teman0

{'kota': 'Palembang'}

In [37]:
print(teman0)

NameError: name 'teman0' is not defined

error tersebut terjadi dikarenakan program tidak lagi membaca adanya ditionary yang bernama teman0

## TUPLES

A tuple is a collection which is ordered and unchangable. Berbeda dari list, isi elemen pada tupel tidak dapat diubah. Pada python tuple dituliskan dengan kurung buka dan kurung tutup.

Sama seperti list cara kita untuk mengakses elemen tuple adalah dengan menuliskan index dari elemen pada tuple tersebut.

#### Tuple is unchangable. Elemen tuple tidak bisa diubah, ditambah atau dihapus. kita hanya bisa melakukan penghapusan tuple tersebut

In [ ]:
buah = ('apel','pisang','mangga')
print(buah)

In [ ]:
print(buah[1])

In [ ]:
del buah

In [ ]:
print(buah)

Tuple telah dihapus

## PERCABANGAN

### If Else

In [ ]:
score = 75
if score < 75:
    print('Try again later')
else:
    print('awesome, you did good')

### If Elif Else

In [ ]:
if score < 75:
    print('Try again Later')
elif score == 75:
    print('nice')
else:
    print('Awesome you did good')

### Short Hand If

In [ ]:
print('Awesome') if score > 70 else print('Try Again')

## PERULANGAN

### For

In [ ]:
for x in range(4):
    print(x)

### For Else

In [ ]:
for x in range(4):
    print(x)
else:
    print('Finish')

### While

In [ ]:
x = 0
while (x <= 5):
    print(x)
    x += 1

# DONE, Thank you

# REFERENCES FROM :

https://www.w3schools.com/python/default.asp

https://www.tutorialspoint.com/python/python_tuples.htm

https://the-eye.eu/public/Books/qt.vidyagam.es/library/Programming/Python/Python%20Crash%20Course_%20A%20Hands-On%2C%20Project-Based%20Introduction%20to%20Programming/Python%20Crash%20Course_%20A%20Hands-On%2C%20Project-Based%20Introduction%20to%20Programming%20-%20Eric%20Matthes.pdf